[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_9_TRENT"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-9 (RR) HorizonSim House" ; Variation name
model = "\..\..\HorizonSim_B787_9_TRENT\model" 
panel = "\..\..\HorizonSim_B787_9_TRENT\panel.RR"
sound = "\..\..\HorizonSim_B787_9_TRENT\sound" ; sound folder
texture = "HorizonSimRR" ; texture folder
ui_variation = "HorizonSim House Livery" ; e.g. World Air, IFR Panel
atc_id = "HR-SIM" ; tail number
atc_airline = "HorizonSim" ; airline name
icao_airline = "HSM" ; airline icao code
isUserSelectable = 1 ; Is the plane selectable by the user
